body {
    margin: 0;
    background-color: #080b11;
}

header {
    background-color: #080b11;
}

.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    font-size: 20px;
    color: #82c8e6;
    font-family: 'Fira Code', monospace;
    letter-spacing: 2px;
    flex-wrap: wrap;
    gap: 15px;
}

.nav-bar {
  display: flex;
  margin-left: auto;
  gap: 20px;
  flex-wrap: wrap;
}

.sobre, .habilidades, .projetos, .contato {
  background-color: transparent;
  color: #6e7c8c;
  font-family: 'Fira Code', monospace;
  border: none;
  font-size: 16px;
  padding: 5px 10px;
}

.sobre:hover, .habilidades:hover, .projetos:hover, .contato:hover {
  color: #82c8e6;
  cursor: pointer;
}

.logo {
  margin-right: 15px;
  height: 29px;
}
